@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*variables*/
:root {
    --transition: all .25s;
    --celeste-trans: rgba(212, 244, 253, 0.5);
    --celeste-1: rgba(86, 216, 255, 0.4);
    --celeste-2: rgba(86, 216, 255, 0.8);
    --celeste-3: rgba(86, 216, 255);
    --celeste-4: rgb(55, 199, 243);
    --hr: rgb(225, 225, 225);
    --gris-1: rgb(235, 235, 235);
    --gris-2: rgb(180, 180, 180);
    --gris-3: rgb(125, 125, 125);
    --gris-4: rgb(60, 60, 60);
    --estrellas: rgb(231, 179, 6);
}

body {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
    transition: var(--transition);
}

hr {
    border: 0.5px solid var(--hr);
    background-color: white;
    height: 0px;
}

.contenedor-seccion{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-size: 32px;
    font-weight: 600;
    margin-left: 20px;
}

.contenedor-y-flechas {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-md--star-filled {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-opacity='0' stroke='%23000' stroke-dasharray='32' stroke-dashoffset='32' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3L9.65 8.76L3.44 9.22L8.2 13.24L6.71 19.28L12 16M12 3L14.35 8.76L20.56 9.22L15.8 13.24L17.29 19.28L12 16'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.5s' values='32;0'/%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='0.5s' dur='0.5s' values='0;1'/%3E%3C/path%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.line-md--star-filled-half {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-dasharray='32' stroke-dashoffset='32' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3L9.65 8.76L3.44 9.22L8.2 13.24L6.71 19.28L12 16M12 3L14.35 8.76L20.56 9.22L15.8 13.24L17.29 19.28L12 16'%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.5s' values='32;0'/%3E%3C/path%3E%3Cpath fill='%23000' fill-opacity='0' d='M12 3L9.65 8.76L3.44 9.22L8.2 13.24L6.71 19.28L12 16Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='0.5s' dur='0.5s' values='0;1'/%3E%3C/path%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/*FLECHA IZQUIERDA*/
.ion--chevron-back-outline {
    display: inline-block;
    width: 6em;
    height: 5.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='M328 112L184 256l144 144'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

/*FLECHA DERECHA*/
.ion--chevron-forward-outline {
    display: inline-block;
    width: 6em;
    height: 5.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='48' d='m184 112l144 144l-144 144'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.flecha {
    color: var(--gris-2);
    transition: var(--transition);
}

.flecha:hover {
    color: var(--gris-3);
    cursor: pointer;
}


/*****************
    HERO IMAGE
******************/

.hero-image {
    background-color: rgb(15, 44, 67);
    /*color de fondo de respaldo*/
    background-image: linear-gradient(to right, rgba(22, 63, 97, 0.6), rgba(255, 255, 255, 0)), url(../img/hero_image_verde2.png);
    background-size: cover;
    /*encaja la imagen*/
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 8%;
    color: white;
}

.hero-image p {
    font-size: 50px;
    font-weight: 500;
    line-height: normal;
    /*espacio entre lineas*/
}

.hero-image h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.hero--btn1 {
    padding: 12px 24px;
    border-radius: 10px;
    background-color: var(--celeste-2);
    border: none;
    cursor: pointer;
    transition: var(--transition);
    margin-right: 40px;
    font-size: 18px;
}

.hero--btn2 {
    padding: 12px 24px;
    border-radius: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    font-size: 18px;
}

.hero--btn1:hover {
    background-color: var(--celeste-3);
}

.hero--btn2:hover {
    background-color: var(--gris-1);
}



/********************
    INSTITUCIONES
*********************/

.instituciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.instituciones p {
    margin: 20px;
    font-size: 18px;
}

.instituciones a {
    /*link a más instituciones*/
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.instituciones a:hover {
    text-decoration: underline;
}

.carrusel--instituciones {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carrusel--instituciones img {
    width: 20%;
    height: 200px;
    padding: 5px;
    object-fit: scale-down;
}




/************************
    CURSOS DESTACADOS
*************************/

/*
.contenedor-de-flecha {
    border-radius: 50%;
    border: none;
    transition: var(--transition);
}

.contenedor-de-flecha:hover {
    background-color: var(--gris-1);
    color: var(--gris-4);
    cursor: pointer;
}
*/

/*CONTENEDOR DESTACADOS*/
.contenedor-destacados {
    margin: 20px 0;
    display: flex;
    border: 2px solid var(--gris-3);
    padding: 20px;
}

.contenedor-destacados>a {
    font-size: 0;
    /*Sirve para eliminar el espacio de 7.5px que se crea en el bottom de la etiqueta a*/
}

.contenedor-destacados img {
    width: 480px;
    height: 480px;
    transition: var(--transition);
}

.contenedor-destacados img:hover {
    opacity: 0.8;
}


/*INFO DEL CURSO*/
.destacados--info-curso {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destacados--info-curso--informacion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.destacados--nombre-institucion {
    font-size: 22px;
    color: var(--gris-3);
}
.destacados--nombre-institucion:hover {
    text-decoration: underline;
}

.destacados--nombre-curso {
    font-size: 36px;
    font-weight: 600;
}
.destacados--nombre-curso:hover {
    text-decoration: underline;
}

.destacados--descripcion-curso {
    font-size: 18px;
    font-weight: 500;
}

/*ETIQUETAS*/
.info-curso--etiquetas {
    width: 120px;
    margin: 10px 0;
}

.info-curso--etiqueta {
    background-color: var(--celeste-2);
    padding: 4px;
    margin: 5px 0;
    font-weight: 600;
    display: block;
    text-align: center;
}


/*ESTRELLAS*/
.destacados--estrellas{
    display: flex;
    color: var(--estrellas);
    align-items: center;
    gap: 2px;
}

.destacados--estrellas p {
    font-size: 1.7em;
    font-weight: 500;
    margin-right: 10px;
    color: var(--gris-4);
}



.destacados--estrellas > span {
    width: 2.2em;
    height: 2.2em;
}

/*PRECIOS*/
.destacados--precio {
    display: flex;
    justify-content: flex-start;
}

.destacados--btn-precio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 6px 12px;
    margin-top: 8px;
    transition: var(--transition);
}

.destacados--btn-precio>* {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.destacados--btn-precio:hover {
    background-color: var(--celeste-2);
}


/*BOTON CURSOS DESTACADOS*/
.btn-seccion {
    padding: 16px 24px;
    border-radius: 10px;
    background-color: var(--gris-1);
    border: none;
    cursor: pointer;
    transition: var(--transition);
    align-self: center;
    font-size: 18px;

}

.btn-seccion span {
    font-weight: 600;
    font-size: 18px;
}

.btn-seccion:hover {
    background-color: var(--gris-2);
}




/*******************
    PROMOCIONES
********************/

.contenedor-cursos {
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tarjeta {
    width: 290px;
    /*height: 400px;*/
    border: 1.5px solid var(--gris-3);
    border-radius: 10px;
    position: relative;
}


/*IMAGENES CURSO*/
.tarjeta--img-curso {
    background-color: blue;
    width: 100%;
    height: 170px;
    object-fit: fit;
    border-radius: 10px 10px 0 0;
}

.tarjeta--img-institucion {
    background-color: white;
    object-fit: scale-down;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 1;
    left: 30px;
    top: 100px;
    border: .5px solid var(--gris-2);
}

/*INFO CURSO*/
.tarjeta--info-curso {
    width: 100%;
    height: 230px;
    padding: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.tarjeta--info-curso--texto-y-estrellas {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tarjeta--nombre-curso {
    font-weight: 600;
    font-size: 1.1em;
    transition: var(--transition);
    overflow: hidden;

}
.tarjeta--nombre-curso:hover {
    text-decoration: underline;
}

.tarejta--descripcion-curso {
    margin-left: 2px;
    font-size: 1em;
    transition: var(--transition);
    overflow: hidden;
}

.tarjeta--estrellas {
    display: flex;
    color: var(--estrellas);
    align-items: center;
    gap: 5px;
}

.tarjeta--estrellas > p {
    color: var(--gris-4);
}

.tarjeta--estrellas>p {
    font-size: 1.2em;
}

.tarjeta--estrellas>span {
    font-size: 1.4em;
}

.tarjeta--precios {
    justify-self: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.tarjeta--precio-normal {
    text-decoration: line-through;
    color: var(--gris-3);
}

.tarjeta--btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
    padding: 3px 8px;
}

.tarjeta--btn>* {
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.tarjeta--btn:hover {
background-color: var(--celeste-2);
}



/*****************
    CATEGORÍAS
******************/
.contenedor-categorias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 30px;
}

.contenedor-categorias a {
    width: 22%;
    height: 50px;
    background-color: var(--celeste-2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    transition: var(--transition);
}

.contenedor-categorias h3 {
    font-weight: 500;
}

.contenedor-categorias a:hover {
    background-color: var(--celeste-4);
}




/***********************
    CATEGORÍA 1,2 y 3
************************/
.subtitulo > span {
    color: var(--gris-3);
    font-size: 24px;
}




/******************
    TESTIMONIOS
*******************/
.testimonios {
    width: 100%;
    background-color: var(--celeste-trans);
    margin-top: 20px;
}

.testimonios > h2 {
    align-self: center;
}

.contenedor-testimonios {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    height: 720px;
}

.testimonio {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.persona2 {
    align-self: flex-end;
}

.foto-persona {
    width: 220px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nombre-persona {
    font-weight: 500;
    font-size: 1.2em;
}

.cargo-persona {
    font-weight: 400;
    font-size: 1em;
    color: var(--gris-3);
    margin-bottom: 10px;
}

.resenia-persona {
    font-style: italic;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.testimonio--nombre-curso {
    font-weight: 400;
    font-size: 1em;
    color: var(--gris-3);
    margin-bottom: 8px;
    transition: var(--transition);
}
.testimonio--nombre-curso:hover {
    text-decoration: underline;
}

.testimonio--institucion-curso {
    font-weight: 500;
    font-size: 1em;
    margin-bottom: 10px;
    transition: var(--transition);
}
.testimonio--institucion-curso:hover {
    text-decoration: underline;
}
